* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    animation: slideIn 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.error-message, .success-message {
    animation: fadeIn 0.5s ease; /* Fade-in effect */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    color: #9b59b6; /* Lilac purple */
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #8e44ad; /* Lilac purple */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-btn:hover {
    background-color: #732d91; /* Darker lilac purple */
    transform: scale(1.05);
}

.register-btn:focus {
    outline: none; /* Remove outline on focus */
}

.error-message {
    color: #e74c3c; /* Red for error */
}

.success-message {
    color: #2ecc71; /* Green for success */
}

.login-link {
    color: #9b59b6; /* Lilac purple */
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input {
    flex: 1;
    margin-right: 10px;
}

.input-group input:last-child {
    margin-right: 0;
}

.login-message {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: column; /* Stack inputs vertically on smaller screens */
    }

    .input-group input {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
